html, body {
  height: 100%;
  margin: 0;
}
body * {
  box-sizing: border-box;
}
.magicBox {
  height: calc(100% - 40px);
  padding: 20px 30px 30px; 
  width: 80vw;
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background: #e3e3e3;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (min-width: 320px) {
  .content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width:700px) {
  .content {
    align-items: center;
    flex-direction: row;
  }
}


@media screen and (min-width:0px) {
  .select {
    height: 30px;
    width: 100%;
    font-size: 1rem;
    background: white;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

@media screen and (min-width: 700px) {
  .select {
    width: 200px;
    margin-left: auto;
    margin-top: 0px;
  }
}
.pictures {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.poligon {
  width: 100%;
  height: 100%;
}
.svgContainer {
  display: flex;
  height: 100%;
  width: 100%;
}
.svgContainer svg {
  height: 100%;
  width: 100%;
}
.svgContainer polygon,
.svgContainer path
{
  stroke-width: 1px;
}

@media screen and (max-width: 699px) {
  .palitra {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: -10px;
  }
}
@media screen and (min-width:700px) {
  .palitra {
    flex-direction: column;
    margin-left: 0;
    margin-right: 30px;
  }
}
.current_color {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  box-shadow: 0 1px 5px 0px #bcbcbc;
  margin-right: 30px;
  flex-shrink: 0;
}
.color {
  width: 50px;
  position: relative;
  height: 50px;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 1px 5px 0px #bcbcbc;
  overflow: hidden;
  transition: 0.1s;
}
.color:hover {
  box-shadow: 0 1px 7px 2px #9e9e9e;
    transform: scale(1.2);
    z-index: 1;
}

.color:active {
  transform: scale(1.1);
}

@media screen and (min-width:0px) {
  .color {
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
@media screen and (min-width:700px) {
  .color:not(:last-child) {
    margin-bottom: 10px;
    margin-left: 0;
  }
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background: blue;
}
.yellow {
  background-color: yellow;
}
.brown {
  background: brown;
}
.pink {
  background: pink;
}
.black {
  background: black;
}
.white {
  background: white;
}